$c_promo_text: #fff

.promo
	color: $c_promo_text
	padding: 60px 0
	background-size: cover
	background-position: center
	&__header
		font-size: 60*$rem
		font-weight: 300
		white-space: nowrap
		@media (min-width: $screen_lg)
			margin-bottom: 25px
			line-height: 1.2em
	&__desc
		font-size: 13px
		@media (min-width: $screen_lg)
			line-height: 24px
	&__link
		color: inherit
		display: block
		&:after
			content: '→'
			display: inline
			margin-left: 25px
		&:hover
			text-decoration: none
			color: inherit
		@media (min-width: $screen_lg)
			margin-top: 17px
	@media (min-width: $screen_lg)
		padding-top: 430px
		padding-bottom: 379px


@import _back/-forest
@import _back/-car