.info
	margin-bottom: 30px
	+clearfix()
	&__text
		margin-bottom: 1em
		color: $c_text-lightest
		@media (min-width: $screen_lg)
			line-height: 1.7em
			margin-bottom: 2em
	&__col
		@media (min-width: $screen_lg)
			width: 50%
			font-size: 0
			display: inline-block
	@media (min-width: $screen_lg)
		margin-bottom: 75px

