.mobile
	max-width: 320px
	bottom: 100%
	transform: translate(0, 40%)
	position: absolute
	right: 0
	bottom: 100%
	@media (min-width: $screen_lg)
		max-width: 100%
		margin-bottom: -153px
		margin-right: -35px
		transform: translate(0, 0)
		right: 0