$c_submit: #77c1ab
$c_notice: #57697f

.contact
	&__form
		font-size: 14px
		line-height: 20px
		position: relative
		margin-bottom: 14px
		border-radius: 2px
		overflow: hidden
	&__input
		padding: 19px 70px 19px 17px
		width: 100%
		color: $c_text !important
	&__submit
		width: 70px
		background-image: url("../img/assets/submit.png")
		background-repeat: no-repeat
		background-position: center
		background-color: $c_submit
		position: absolute
		top: 0
		bottom: 0
		right: 0
		border: 0
	&__notice
		color: $c_notice !important
		font-size: 12px
	@media (min-width: $screen_lg)
		padding-top: 14px
		// margin-top: -7px
