mixin article(header, text)
	.article
		h3.article__header= header
		.article__text= text

mixin article_footer(header, text)
	.article.article_footer
		h3.article__header= header
		.article__text= text

mixin article_footer__list(header, text_arr)
	.article.article_footer
		h3.article__header= header
		.article__text
			each text in text_arr
				p= text