mixin offer(tag, header, text, price)
	.offer
		.offer__tag= tag
		.offer__header= header
		.offer__text= text
		a(href="").offer__btn Buy now $#{price}
		.offer__platforms
			a(href="").offer__os
				i.fa.fa-apple
			a(href="").offer__os
				i.fa.fa-windows

mixin offer_status-active(tag, header, text, price)
	.offer.offer_status-active
		.offer__tag= tag
		.offer__header= header
		.offer__text= text
		a(href="").offer__btn Buy now $#{price}
		.offer__platforms
			a(href="").offer__os
				i.fa.fa-apple
			a(href="").offer__os
				i.fa.fa-windows