mixin promo_back-forest(header, text, link_text)
	section.promo.promo_back-forest
		.container
			.row
				.col-xs-6.col-sm-5
					h1.promo__header= header 
					.promo__desc= text
					

mixin promo_back-car(header1, header2, text, link)
	section.promo.promo_back-car
		.container
			.row
				.col-xs-9.col-sm-5
					h1.promo__header
						| #{header1}
						<br>
						| #{header2} 
					.promo__desc= text
					a(href="#").promo__link= link