.screen
	padding: 30px 0
	&__header
		margin-bottom: 15px
		font-weight: 300
		font-size: 35*$rem
		@media (min-width: $screen_lg)
			margin-bottom: 21px
	@media (min-width: $screen_lg)
		padding-top: 102px
		padding-bottom: 96px
@import _back/-green
@import _back/-dark
@import _color/-white