$c_offer-tag: #ccc
$c_offer-tag_active: #cc99cc
$border-radius: 4px
$c_offer-btn: #99cc99
$c_icon: #c5c5c5

.offer-btn
	display: inline-block
	line-height: 1
	color: $c_text-white
	text-transform: uppercase
	border-radius: $border-radius

.offer
	padding: 25px
	// margin: 20px 0
	&__tag
		@extend .offer-btn
		font-weight: 800
		padding: 6px 15px
		font-size: 11px
		background-color: $c_offer-tag
		margin-bottom: 10px
		@media (min-width: $screen_lg)
			margin-bottom: 14px
	&__header
		font-size: 30*$rem
		color: $c_text-colored
		margin-bottom: 10px
	&__text
		color: $c_text-lightest
		margin-bottom: 22px
		line-height: 1.8em

	&__btn
		@extend .offer-btn
		// display: inline-block
		// border-radius: $border-radius
		font-weight: 700
		background-color: $c_offer-btn
		padding: 16px 30px
		margin-bottom: 16px
		&:hover
			color: $c_text-white
			text-decoration: none
	&__platforms
		margin: 0 -9px
		+clearfix()
		font-size: 25px
	&__os
		padding: 0 9px
		float: left
		color: $c_icon
		&:hover
			color: $c_icon
	@media (min-width: $screen_lg)
		padding: 48px 54px
		margin-bottom: 88px


@import _status/-active