.article
	&__header
		margin-bottom: 5px
		color: $c_text-light
		font-size: 13px
		font-weight: 600
		@media (min-width: $screen_lg)
			margin-bottom: 19px
	&__text
		margin-bottom: 15px
		color: $c_text-lightest
		font-size: 14px
		line-height: 1.7em
		@media (min-width: $screen_lg)
			line-height: 1.75em
	&_footer
		.article__text
			font-size: 13px
	@media (min-width: $screen_lg)
		padding-top: 31px
				
