// Переменные для цветов

$c_bg-light: #fff
$c_bg-dark: #192431
$c_bg-bright: #82ca9c

$c_text: #333
$c_text-lightest: #999
$c_text-light: #666
$c_text-white: #fff
$c_text-colored: #333366

$rem: (1rem/16)

$screen_xs: "480px"
$screen_sm: "768px"
$screen_md: "992px"
$screen_lg: "1200px"

=clearfix()
	&:after
		content: ''
		display: block
		clear: both

// Шрифты

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800)


body
	font-family: 'Open Sans', sans-serif
	// overflow: hidden
	min-width: 480px
	color: $c_text
	@media (min-width: 480px)
		overflow-x: hidden
img
	max-width: 100%

html
	@media (min-width: $screen_sm)
		font-size: 12px
	@media (min-width: $screen_md)
		font-size: 14px
	@media (min-width: $screen_lg)
		font-size: 16px
input
	border: 0
	-webkit-appearance: none
	box-shadow: 0

h1, h2, h3, h4, h5, h6, p
	margin: 0

.container
	position: relative



@import blocks/header/header	
@import blocks/promo/promo
@import blocks/logo/logo
@import blocks/screen/screen
@import blocks/mobile/mobile
@import blocks/info/info
@import blocks/article/article
@import blocks/offer/offer
@import blocks/contact/contact