doctype html
html
	head
		link(rel="stylesheet", href="css/assets/bootstrap.css")
		link(rel="stylesheet", href="css/assets/font-awesome.css")
		link(rel="stylesheet", href="css/index.css")
		title SMediaLink Test
		meta(charset="utf-8")
	body
		include blocks/logo.jade
		include blocks/promo.jade
		include blocks/mobile.jade
		include blocks/article.jade
		include blocks/offer.jade
		header
			.container
				+logo("img/assets/logo.png")
		+promo_back-forest("Picture perfect", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
		section.screen
			.container
				+mobile("img/assets/iphone.png")
				h2.screen__header Start something new
				.info
					.row
						.col-xs-6
							p.info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.row
						.col-xs-12.col-md-6
							p.info__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
							p.info__text eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
						.col-xs-12.col-md-6
							p.info__text Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
							p.info__text Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				h2.screen__header A look at the details
				.row
					.col-xs-6.col-md-3
						+article('Web based', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
					.col-xs-6.col-md-3
						+article('Performance', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
					.col-xs-6.col-md-3
						+article('Clultral', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
					.col-xs-6.col-md-3
						+article('Sustainability', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
		+promo_back-car('More power', 'behind every pixel.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.', 'See the options')
		section.screen.screen_back-green.screen_color-white
			.container
				h2.screen__header Reasons to get onboard
				.row
					.col-xs-12.col-sm-4
						+article('Web based', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
					.col-xs-12.col-sm-4
						+article('Team login', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
					.col-xs-12.col-sm-4
						+article('Great Support', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
		section.screen
			.container
				.row
					.col-xs-12.col-sm-6
						+offer('Legacy', 'Go it solo', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut', '9')
					.col-xs-12.col-sm-6
						+offer_status-active('Most Popular', 'Team Plan', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut', '18')
		footer.screen.screen_back-dark.screen_color-white
			.container
				.row
					.col-xs-6
						+article_footer('Get in touch', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos veniam commodi fuga, incidunt, accusantium debitis laboriosam pariatur aut vitae fugit aspernatur. Accusamus ab alias autem, excepturi suscipit culpa. Unde, repudiandae.')
					.col-xs-6.col-sm-5.col-sm-offset-1
						.article
							.article__header Stay in touch
						.contact
							form(action="#").contact__form
								input(type="email").contact__input
								input(type="submit" value="").contact__submit
							.contact__notice We don’t send spam. Actually, who are we kiding, we’ll spam <br> the shit out of you’r inbox
				.row
					.col-xs-4.col-sm-2
						+article_footer__list('Resources', ['Tour', 'Customers', 'Pricing and Plans', 'New Features', 'Education'])
					.col-xs-4.col-sm-2
						+article_footer__list('Features', ['Tour', 'Customers', 'Pricing and Plans', 'New Features', 'Education'])
					.col-xs-4.col-sm-2
						+article_footer__list("How To's", ['Tour', 'Customers', 'Pricing and Plans', 'New Features', 'Education'])




